<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.snailpasswordmanager">

    <application
        android:name=".PasswordApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnailPasswordManager"
        tools:targetApi="31">
        <activity
            android:name=".presentation.listItem.ListItemView"
            android:exported="false" />
        <activity
            android:name=".presentation.mainscreen.MainListActivity"
            android:exported="false"
            android:label="Main Content List" />
        <activity
            android:name=".presentation.registration.RegistrationActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>